<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="wrapper">
        <div class="sidebar">
            <div class="sidebar-header">
                <h1><i class="fas fa-home"></i> Home</h1>
            </div>
            <ul class="nav">
                {% for endpoint in endpoints %}
                    <li>
                        <a href="{{ endpoint.url }}">{{ endpoint.endpoint }} <span class="method">({{ endpoint.methods | join(', ') }})</span></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="page-content-wrapper">
            {% block content %}
            <!-- Page-specific content will go here -->
            {% endblock %}
        </div>
    </div>
</body>
</html>

