{% extends 'base.html' %}

{% block title %}Send Data{% endblock %}

{% block content %}
    <h1>Images Has been retrieved!</h1>
    <p>Status: OK</p>

    <h2>Images:</h2>
    <ul>
        {% if objects %}
            {% for object in objects %}
                <br>
                <tr>
                    <td>IMAGE: {{ object._object_name }}</td>
                    <td>BUCKET: {{ object._bucket_name }}</td>
                    <td>BUCKET: {{ object._bucket_name }}</td>
                    <img src="http://192.168.56.105:32223/{{ object._bucket_name }}/{{ object._object_name }}" alt="{{ object._object_name }}">
                </tr>
                <br>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No object found.</td>
            </tr>
        {% endif %}
    </ul>
{% endblock %}