{% extends 'base.html' %}

{% block title %}Send Data{% endblock %}

{% block content %}
    <h1>Images Have Been Retrieved!</h1>
    <p>Status: OK</p>

    <h2>Images:</h2>
    <div>
        {% if objects %}
            <ul style="list-style-type: none; padding: 0;">
                {% for object in objects %}
                    <li style="display: flex; align-items: center; margin-bottom: 10px;">
                        <a href="http://192.168.56.105:32223/{{ object._bucket_name }}/{{ object._object_name }}" target="_blank">
                            <img src="http://192.168.56.105:32223/{{ object._bucket_name }}/{{ object._object_name }}" 
                                 alt="{{ object._object_name }}" 
                                 style="width: 4cm; height: 4cm; margin-right: 10px;">
                        </a>
                        <div>
                            <strong>IMAGE:</strong> {{ object._object_name }} <br>
                            <strong>BUCKET:</strong> {{ object._bucket_name }} <br>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No objects found.</p>
        {% endif %}
    </div>
{% endblock %}
