{% extends 'base.html' %}

{% block title %}Send Data{% endblock %}

{% block content %}
    <h1>SECRET Has been retrieved!</h1>
    <p>Status: OK</p>

    <h2>Data:</h2>
    <ul>
        {% if secret %}
            <h2>SECRET:</h2>
            <br>
            <li>USER: {{ secret.data.data.TEST_USER }}</li>
            <li>PASSWORD: {{ secret.data.data.TEST_PASSWORD }}</li>
            <li>CREATED: {{ secret.data.metadata.created_time }}</li>
        {% else %}
            <li>No data available</li>
        {% endif %}
    </ul>
{% endblock %}